.sectionTwo {
  background-color: #ffee2f;
  width: 55%;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  height: 85%;

  .light {
    width: 30%;
    height: 70%;
    margin-bottom: 30px;
  }

  .sidebar_list {
    position: fixed;
    list-style-type: none;
    right: 2%;
    top: 45%;
    .sidebar_items {
      display: flex;
      padding: 0;
      margin: 0;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 0;
      color: #686868;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 5px;
      .aHrefs {
        text-decoration: none;
        color: #686868;
      }
      .sidebar_square {
        background-color: #ce0002;
        width: 15px;
        height: 15px;
        margin-left: 7px;
      }
      .sideBarTrue {
        width: 15px;
        height: 15px;
        margin-left: 7px;
        background-color: #686868;
        outline: 0;
      }
    }
  }
}
